namespace: "{{ ppeagent_namespace }}"
name: "{{ _ppeagent_deployment_name }}"
replicaCount: "{{ ppeagent_replica_count }}"
port: "{{ ppeagent_port }}"
portName: "{{ _ppeagent_port_name }}"
serviceName: "{{ _ppeagent_service_name }}"
ingress:
    enabled: "{{ ppeagent_ingress_enabled }}"
    path: "{{ ppeagent_ingress_path }}"
    annotations: {{ ppeagent_ingress_annotations }}
    tls: {{ ppeagent_ingress_tls }}
image:
    name: "{{ _ppeagent_image_name }}"
    tag: "{{ _ppeagent_image_tag }}"
agent:
    credentials:
        username: "{{ ppeagent_email }}"
        password: "{{ ppeagent_password }}"
    config: "{{ ppeagent_custom_config_file }}"
    configPodMountPoint: "{{ _ppeagent_custom_config_mount_point }}"
