namespace: "{{ ppeagentdeployment_namespace }}"
name: "{{ _ppeagentdeployment_service_deployment_name }}"
replicaCount: "{{ ppeagentdeployment_service_replica_count }}"
port: "{{ ppeagentdeployment_service_port }}"
portName: "{{ _ppeagentdeployment_service_port_name }}"
serviceName: "{{ _ppeagentdeployment_service_service_name }}"
ingress:
    enabled: "{{ ppeagentdeployment_service_ingress_enabled }}"
    class: "{{ ppeagentdeployment_service_ingress_class }}"
    path: "{{ ppeagentdeployment_service_ingress_path }}"
    pathType: "{{ _ppeagentdeployment_service_ingress_path_type }}"
    annotations:

        {% for annotation in ppeagentdeployment_service_ingress_annotations %}

        - key: "{{ annotation.key }}"
          value: "{{ annotation.value }}"

        {% endfor %}

    routes:
        {% for route in ppeagentdeployment_service_ingress_routes %}

        - path: "{{ route.path }}"
          serviceName: "{{ route.serviceName }}"
          servicePort: "{{ route.servicePort }}"

        {% endfor %}

    tls:
        - hosts:
            - "{{ _ppeagentdeployment_service_ingress_host }}"

image:
    name: "{{ _ppeagentdeployment_service_image_name }}"
    tag: "{{ _ppeagentdeployment_service_image_tag }}"
agent:
    credentials:
        username: "{{ ppeagentdeployment_service_email }}"
        password: "{{ ppeagentdeployment_service_password }}"
    config: "{{ ppeagentdeployment_service_custom_config_file }}"
    configPodMountPoint: "{{ _ppeagentdeployment_service_custom_config_mount_point }}"
